Final Project Submission

Please fill out:
* Student name: Sung Bae
* Student pace: online full time
* Scheduled project review date/time: 08/13/2020
* Instructor name: James Irving
* Blog post URL:

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

# Introduction to the Project

## Problem Statement
Microsoft sees all the big companies creating original video content, and they want to get in on the fun. They have decided to create a new movie studio, but the problem is they donâ€™t know anything about creating movies. They have hired you to help them better understand the movie industry. Your team is charged with doing data analysis and creating a presentation that explores what type of films are currently doing the best at the box office. You must then translate those findings into actionable insights that the CEO can use when deciding what type of films they should be creating.

## Data Set
You may scrape or make API calls to get additional data, but included in the repository (in the folder zippedData) is some movie-related data from:

* Box Office Mojo
* IMDB
* Rotten Tomatoes
* TheMovieDB.org

### APIs
1. TheMovieDB.org 
` Documentation: https://developers.themoviedb.org/3/getting-started/introduction`

In [1]:
import requests
import json

def get_keys(path):
    with open(path) as f:
        return json.load(f)
## Source: https://learn.co/tracks/module-1-data-science-career-2-1/intro-to-data-with-python-and-sql/section-09-json-and-apis/using-the-yelp-api-codealong

In [2]:
# testing out whether the code above gets the API key or not
path = "/Users/juhyunlee/.secret/themoviedb_api.json"
keys = get_keys(path)
keys

{'api_key': '52a20e7210078d054e6fd239f4155825',
 'api_token': 'eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1MmEyMGU3MjEwMDc4ZDA1NGU2ZmQyMzlmNDE1NTgyNSIsInN1YiI6IjVmMzE0ZDAyMTk2NzU3MDAzN2FlYjMzYyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.PFmtOV5voTTrN5UvB-BmLMRTeNwYXHrpdE8dOA2n2qc'}

In [3]:
# Testing out API connectbion
respond = requests.get(f"https://api.themoviedb.org/3/genre/movie/list?api_key={keys['api_key']}&language=en-US")

In [4]:
respond.json()

{'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 16, 'name': 'Animation'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 80, 'name': 'Crime'},
  {'id': 99, 'name': 'Documentary'},
  {'id': 18, 'name': 'Drama'},
  {'id': 10751, 'name': 'Family'},
  {'id': 14, 'name': 'Fantasy'},
  {'id': 36, 'name': 'History'},
  {'id': 27, 'name': 'Horror'},
  {'id': 10402, 'name': 'Music'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 10749, 'name': 'Romance'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 10770, 'name': 'TV Movie'},
  {'id': 53, 'name': 'Thriller'},
  {'id': 10752, 'name': 'War'},
  {'id': 37, 'name': 'Western'}]}

### Scraping

## 4 Questions to be answered
* Which actors/actress?
* Which Genre?
* How much money should be invested
* Which region of the world should be our focus target?

# EDA

## Importing different libraries

In [5]:
import pandas as pd
import glob
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import os
%matplotlib inline

In [37]:
%pwd

'/Users/juhyunlee/Documents/GitHub/Module1/dsc-mod-1-project-v2-1-onl01-dtsc-ft-070620'

## Importing given datasets

In [24]:
# importing given data form /zippeData directory
# os.chdir("zippedData")

# import all files that matches the given extension 'gz':
extension = 'csv.gz'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

#source: https://www.freecodecamp.org/news/how-to-combine-multiple-csv-files-with-8-lines-of-code-265183e0854/

In [10]:
all_filenames

['imdb.title.crew.csv.gz',
 'tmdb.movies.csv.gz',
 'imdb.title.akas.csv.gz',
 'imdb.title.ratings.csv.gz',
 'imdb.name.basics.csv.gz',
 'rt.reviews.tsv.gz',
 'imdb.title.basics.csv.gz',
 'rt.movie_info.tsv.gz',
 'tn.movie_budgets.csv.gz',
 'bom.movie_gross.csv.gz',
 'imdb.title.principals.csv.gz']

In [55]:
pd.read_csv("tmdb.movies.csv.gz")

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [25]:
df_list = []
for name in all_filenames:
    try: 
        df_list.append(pd.read_csv(f"{name}", index_col=0))
    except:
        print(name)

In [26]:
len(df_list)

9

In [ ]:
# Rename different dataframe
df_crew = df_list[0]
df_movie = df_list[1]
df_title_aka = df_list[2]
df_rating = df_list[3]
df_dir = df_list[4]
df_title = df_list[5]
df_budget = df_list[6]
df_gross =

In [56]:
df_list[0]

                               directors              writers
tconst
tt0285252                      nm0899854            nm0899854
tt0438973                            NaN  nm0175726,nm1802864
tt0462036                      nm1940585            nm1940585
tt0835418                      nm0151540  nm0310087,nm0841532
tt0878654  nm0089502,nm2291498,nm2292011            nm0284943
...                                  ...                  ...
tt8999974                     nm10122357           nm10122357
tt9001390                      nm6711477            nm6711477
tt9001494          nm10123242,nm10123248                  NaN
tt9004986                      nm4993825            nm4993825
tt9010172                            NaN            nm8352242

[146144 rows x 2 columns]